<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/icon/icon.png">
    <title>Anim</title>
    <link rel="stylesheet" href="/static/style/style.css">
  </head>
  <body>
    <header><h1>Anim</h1></header>
    <nav>
      <ul>
        <li><a href="/series">поиск по сериям</a></li>
        <li><a href="/voice">поиск по озвучке</a></li>
        <li><a href="/contacts">контакты</a></li>
        <li><a href="/right_holders">правообладателям</a></li>
      </ul>
    </nav>
    <div class="container_content">
      <h2>
        Вы можете писать свои предложения, вопросы и критику.<br>
        Также предложить любую помощь для развития проекта на эту почту:<br>
        lap.ukr.kh@gmail.com
      </h2>
    </div>
  </body>
</html>
