<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/icon/icon.png">
    <title>Anim</title>
    <link rel="stylesheet" href="/static/style/style.css">
  </head>
  <body>
    <header><h1>Anim</h1></header>
    <nav>
      <ul>
        <li><a href="/series">поиск по сериям</a></li>
        <li><a href="/voice">поиск по озвучке</a></li>
        <li><a href="/contacts">контакты</a></li>
        <li><a href="/right_holders">правообладателям</a></li>
      </ul>
    </nav>
    <div class="container_content">
      <h1>Для правообладателей!</h1>
      <p>
        Если вы обнаружили материал, представленный на нашем сайте, который нарушает ваши авторские права, или же дискредитирует Вашу<br>
        компанию, предоставляя неверную или искаженную информацию, пожалуйста свяжитесь с нами для решения этого вопроса.
      </p>
      <p>
        Для этого необходимо отправить e-mail с вашего корпоративного почтового ящика содержащий:<br>
      </p>
      <p>
        контактные данные, реквизиты вашей компании;<br>
        прямую ссылку(ссылки) на материал, который вы считаете спорным;<br>
        заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал;<br>
        в случае, если вы представляете интересы другой компании – копии документов на посреднические услуги;<br>
      </p>
      <p>На адрес lap.ukr.kh@gmail.com<br>
      <p>
        Вся информация будет проверена, и администрация сайта в кратчайшие сроки свяжется с вами для урегулирования спорного вопроса.<br>
        Мы не продаем материалы на нашем веб-ресурсе, наш веб-ресурс предназначен для оптимизации и ускорения поиска нужных материалов <br>
        в интернете для бесплатного домашнего ознакомительного просмотра.
      </p>
    </div>
  </body>
</html>
